/* Conteneur principal */
.doctor-interface-container {
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* Actions en-tête */
.header-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

/* Conteneur tableau */
.doctor-table-container {
  overflow: auto;
  border-radius: 8px;
}

/* Style des en-têtes de colonne */
.mat-header-cell {
  font-weight: bold;
  background-color: #7575FF;
  color: white;
  text-align: left;
}

.mat-row {
  background-color: white;
  transition: background-color 0.3s ease;
}

.btn-edit:hover {
  background-color: #3c3cda;
}

/* Pagination */
mat-paginator {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
