<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - DocEase</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  </head>
  
  <body>
    <header>
      <div class="top-bar">
        <div class="info">
          <span>24/7 emergency</span>
          <span>Emergency line: 25369847</span>
          <span>Location: Sfax, RTE Hedi Cheker KM 8 - Tunisia</span>
          <span>Mon - Fri: 8:00 am - 7:00 pm</span>
        </div>
        <div class="social">
          <a href="#" class="mat-icon-button">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="mat-icon-button">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="mat-icon-button">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
      <nav>
        <div class="logo">DocEase</div>
        <ul class="menu">
            <li><a routerLink="/acceuil" routerLinkActive="active-link">Home</a></li>
            <li><a>About</a></li>
          <li><a >Doctors</a></li>
          <li><a >Blog</a></li>
          <li><a>Contact</a></li>
        </ul>
        <div class="actions">
            <button class="login-btn" routerLink="/login">Login</button>
          </div>
          
      </nav>
    </header>
    
    <main>
      <section class="hero">
        <div class="content">
          <h1>Your Health, Our Mission</h1>
          <p>
            Our greatest satisfaction is seeing our patients happy and satisfied 
            with their treatments. Our mission is to guide you in the best way possible and improve your well-being.
          </p>
          <div class="services">
            <mat-card class="service">Examination</mat-card>
            <mat-card class="service">Prescription</mat-card>
            <mat-card class="service">Cardiogram</mat-card>
            <mat-card class="service">Blood Pressure</mat-card>
          </div>
        </div>
      </section>
    </main>
  
    <footer>
      <div class="footer-content">
        <p>&copy; 2024 DocEase. All rights reserved.</p>
        <div class="social-footer">
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </footer>
  </body>