<div class="dashboard-container">
  <h1>Dashboard</h1>

  <!-- Cards with counts -->
  <div class="cards-container">
    <div class="card">
      <h3>Doctors</h3>
      <p>{{ doctorsCount }}</p>
    </div>
    <div class="card">
      <h3>Patients</h3>
      <p>{{ patientsCount }}</p>
    </div>
    <div class="card">
      <h3>Consultations</h3>
      <p>{{ consultationsCount }}</p>
    </div>
    <div class="card">
      <h3>Departments</h3>
      <p>{{ departmentsCount }}</p>
    </div>
  </div>

  <!-- Container for the charts -->
  <div class="chart-container">
    <div class="chart">
      <canvas baseChart
        [datasets]="barChartData.datasets"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [type]="barChartType">
      </canvas>
    </div>

    <div class="chart">
      <canvas baseChart
        [datasets]="pieChartDataByDoctor.datasets"
        [labels]="pieChartLabelsByDoctor"
        [options]="pieChartOptions"
        [type]="pieChartType">
      </canvas>
    </div>
  </div>
</div>
